In [1]:

import numpy as np
import pandas as pd
from sklearn .model_selection import train_test_split

from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [2]:
credit_card_data=pd.read_csv("creditcard.csv")

In [3]:
credit_card_data.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
#checking missing values for each col

credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
#distribution of legit and fraud transactions 

credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

The data is highly unbalanced

0= normal transctions
1= fraudulent data set

In [7]:
#separating data for analysis

legit= credit_card_data[credit_card_data.Class==0]

fraud= credit_card_data[ credit_card_data.Class==1]

In [8]:
print(legit.shape)

print(fraud.shape)

(284315, 31)
(492, 31)

In [9]:
#statistical measurea of the data

legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [10]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [11]:
#compare the values  for both  transactions

credit_card_data.groupby('Class').mean()  

#WE CAN SEE THAT THE IS A VAST DIFFERNCE B/W BOTH

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

UNDER SAMPLING

AS THE DATASET IS UNBALANCED , WE NEED TO USE UNDER SAMPLING METHOD TO DEAL IT WITH, THEREFORE WE NEED TO BUILD A SAMPLE DATASET

CONTAINING SIMILAR DISTRIBUTION OF LEGIT AND FRAUDLENT TRANSACTIONS

In [12]:

legit_sample=legit.sample(n=492)    #WE AR USING N=492 because our fraudulent data consists of 492 elements

NOW WE NEED TO CONCAT BOTH THE DATA FRAMES (LEGIT_SAMPLE + FRAUD DATA)

In [13]:
new_data= pd.concat([legit_sample,fraud], axis=0)

In [14]:
new_data.head() # we will get random values

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
197871,132218.0,2.247618,-0.348011,-2.050458,-0.821500,0.177545,-0.986080,-0.137338,-0.359757,-0.639822,...,-0.059062,-0.108695,0.163007,0.398859,0.076367,-0.298005,-0.024858,-0.030840,10.00,0
141491,84351.0,1.093082,-0.183884,1.363330,1.291657,-1.159170,-0.034581,-0.756333,0.306500,0.840042,...,-0.013644,0.057443,0.025018,0.493251,0.307392,-0.433903,0.059313,0.027065,9.99,0
264191,161311.0,1.747874,-0.652752,-1.229288,0.168333,-0.100430,-0.401260,0.162966,-0.180049,0.678009,...,-0.034182,-0.124329,0.035062,-0.344694,-0.080564,-0.100984,-0.044539,-0.043576,142.76,0
145748,87173.0,-2.967573,3.039837,-2.072238,0.382252,0.612783,1.367397,-0.472071,-0.126949,-0.452584,...,1.750343,0.449942,0.088223,-1.637392,0.104013,-0.328244,-0.358116,-0.284451,11.22,0
152803,97469.0,1.929026,-0.437224,0.157782,0.350621,-0.676724,0.272991,-1.081768,0.142469,2.291835,...,-0.056687,0.184297,0.345615,0.748002,-0.617196,0.383993,-0.044409,-0.044287,15.95,0

In [15]:
new_data['Class'].value_counts()   #EVENLY DISTRIBUTED DATASET

0    492
1    492
Name: Class, dtype: int64

In [16]:
new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96722.845528,0.039333,-0.015766,-0.069730,-0.068184,0.007838,0.097989,0.058629,-0.020890,0.028949,...,0.030165,0.010362,-0.014227,0.037915,-0.004689,0.002578,0.000952,0.019072,0.007040,101.693130
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

SPLITTING THE DATA INTO FEATURES AND TARGETS

In [17]:
X=new_data.drop(columns='Class',axis=1) #REMOVING CLASS FROM DATASET 

Y=new_data['Class']

#HERE Y IS THE TARGET

SPLITTING DATA INTO TRAINING AND TEST DATA

In [18]:
X_train , X_test, Y_train, Y_test= train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)


print(X.shape, X_train.shape, X_test.shape)


#we can see the distribution of data here

(984, 30) (787, 30) (197, 30)

MODEL TRAINING

LOGISTIC REGRESSION

In [19]:
#TRAINING THE LOGISTIC REGRESSION MODEL WITH TRAINING DATA

from sklearn.linear_model import LogisticRegression
model= LogisticRegression()

In [20]:
model.fit(X_train,Y_train)

c:\Users\LEGION\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

    Model Evaluation


    Accuracy Score

In [21]:
#accuracy of train data
X_train_prediction =model.predict(X_train)

train_data_accuracy= accuracy_score(X_train_prediction,Y_train)

print('train_data_accuracy',train_data_accuracy)

train_data_accuracy 0.9428208386277002

In [22]:
#accuracy of test data

X_test_prediction= model.predict(X_test)

test_data_accuracy= accuracy_score(X_test_prediction,Y_test)

print('test_data_accuracy',test_data_accuracy)

test_data_accuracy 0.9187817258883249

# ACCURACY USING SVM

In [24]:
from sklearn.svm import SVC
classifier=SVC(kernel="linear")

classifier.fit(X_train,Y_train)

SVC(kernel='linear')

In [26]:
from sklearn.metrics import accuracy_score

y_pred= classifier.predict(X_test)

accuracy_score(Y_test,y_pred)

0.9137055837563451